.characterHolder1{
    position: relative;
    top:-.54in;
    left: .12in;
    background-color: chocolate;
    width:.13in;
    height: .4in;
    z-index: 1000000000000000000000000000000;
} 
.characterHolder2{
    position: relative;
    top: -.94in;
    left: 0.25in;
    background-color: chocolate;
    width:.13in;
    height: .4in;
    z-index: 1000000000000000000000000000000;
} 
.characterHolder{
    position: relative;
    top:0in;
    left: 0in;
}
.DC2{
    position: relative;
    left:.03in;
    top:.3in
}
.DC1{
    position: relative;
    left:0in;
    top:.34in
}
.DC3{
    position: relative;
    left:0in;
    top:.06in
}
.r1{
    position: relative;
    top:.3in
}
.rl2{
    position: relative;
    left:0in;
    top:.3in
    
}
.rb2{
    position: relative;
    top:.3in
}
.tr2{
    position: relative;
    top:.3in
}
.bl2{
    position: relative;
    top:.3in
}
.trl3{
    position: relative;
    top:.3in  
}
.b1{
    position: relative;
    top:.34in
}
.t1{
    position: relative;
    top:.34in
}
.l1{
    position: relative;
    top:.34in
}
.tbl3{
    position: relative;
    top:.05in
}
.rbl3{
    position: relative;
    top:.3in;
    left:.03in
}
.tb2{
    position: relative;
    top:.355in
}
.tl2{
    position: relative;
    top:.3in;
    left:.03in
}