.request{
    position: relative;


    background-color: darkblue;
    
   margin: 1rem;


}
.button{
    position: relative;
    right: 0;
    top: .0rem;
    width: .5in;
    height: auto;
    background-color: darkgreen;
    text-align: center;
    margin-top: .05in;
}
.friendRequest{
    color: white;
    
}