.playerHolder{
    // can i build out the character dots here so that they will show up?
}

.disabled{
    background-color: chocolate;
}



.room{
    height: 0.8in;
    width: .8in;
   
    position: absolute;
   
    z-index: 1001;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.y0{
    
    top:0
}

.x1{
left: .85in;
}
.x2{
    left: 1.7in;
}
.x3{
    left: 2.55in;
}
.x4{
    left: 3.4in;
}
.x5{
    left: 4.25in;
}
.x6{
    left: 5.1in ;
}
.x7{
    left: 5.95in;
}
.x8{
    left: 6.8in;
}
.x9{
    left: 7.65in;
}
.x10{
    left: 8.5in;
}
.x11{
    left: 9.35in;
}
.x12{
    left: 10.2in;
}
.x13{
    left: 11.05in;
}
.x14{
    left: 11.9in;
}
.x15{
    left: 12.75in;
}
.x16{
    left: 13.6in;
}
.x17{
    left: 14.45in;
}
.y1{
top: .85in;
}
.y2{
    top: 1.7in;
}
.y3{
    top: 2.55in;
}
.y4{
    top: 3.4in;
}
.y5{
    top: 4.25in;
}
.y6{
    top: 5.1in ;
}
.y7{
    top: 5.95in;
}
.y8{
    top: 6.8in;
}
.y9{
    top: 7.65in;
}
.y10{
    top: 8.5in;
}
.y11{
    top: 9.35in;
}
.y12{
    top: 10.2in;
}
.y13{
    top: 11.05in;
}
.y14{
    top: 11.9in;
}
.y15{
    top: 12.75in;
}
.y16{
    top: 13.6in;
}
.y17{
    top: 14.45in;
}

