.roomName{
    color: red;
    z-index: 10000;
    position: absolute;
    top:0in;
    right:0in;
    font-size: 10.5px;
    font-weight: bold;
    // transform: rotate(-45deg);
    border: transparent;
    text-align: center; 
}
input{
    background: transparent 
}
.y0N{top:0}
.x0N{left:-12.15in}
.x1N{left: -10.5in;}
.x2N{left: -8.8in ;}
.x3N{left: -6.99in ;}
.x4N{left: -5.4in;}
.x5N{left:-3.7in;;}
.x6N{left: -2in ;}
.x7N{left: -.27in;}
.x8N{left: 1.4in ;}
.x9N{    left: 3.1in;}
.x10N{left: 4.8in}
.x11N{left: 6.55in;}
.x12N{ left: 8.2in ;}
.x13N{left: 9.9in;}
.x14N{left: 11.6in;}
.x15N{left: (12.75in)   - 7.9 ;}
.x16N{left: (13.6in )  - 7.9 ;}
.x17N{left: (14.45in)   - 7.9 ;}
.y1N{top:( .85in   ) +.45  ;}
.y2N{top:( 1.7in   ) +.45 ;}
.y3N{top:( 2.55in  ) +.45  ;}
.y4N{top:( 3.4in   ) +.45 ;}
.y5N{top:( 4.25in  ) +.45  ;}
.y6N{top:( 5.1in   ) +.45  ;}
.y7N{top:( 5.95in  ) +.45  ;}
.y8N{top:( 6.8in   ) +.45 ;}
.y9N{top:( 7.65in  ) +.45  ;}
.y10N{top:( 8.5in   ) +.45 ;}
.y11N{top:( 9.35in  ) +.45  ;}
.y12N{top:( 10.2in  ) +.45  ;}
.y13N{top:( 11.05in ) +.45   ;}
.y14N{top:( 11.9in  ) +.45  ;}
.y15N{top:( 12.75in ) +.45   ;}
.y16N{top:( 13.6in  ) +.45  ;}
.y17N{top:( 14.45in ) +.45   ;}
p{
    font-size: 0rem;
}